@font-face {
  font-display: swap;
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  src: url('../fonts/roboto-v50-latin-regular.woff2') format('woff2');
}

@font-face {
  font-display: swap;
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 600;
  src: url('../fonts/roboto-v50-latin-600.woff2') format('woff2');
}

@font-face {
  font-display: swap;
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 700;
  src: url('../fonts/roboto-v50-latin-700.woff2') format('woff2');
}

@font-face {
  font-display: swap;
  font-family: 'Play';
  font-style: normal;
  font-weight: 400;
  src: url('../fonts/play-v21-latin-regular.woff2') format('woff2');
}

@font-face {
  font-display: swap;
  font-family: 'Play';
  font-style: normal;
  font-weight: 700;
  src: url('../fonts/play-v21-latin-700.woff2') format('woff2');
}
:root {
  --color-brand-scuro: #011c44;
  --color-brand-chiaro: #2b7fff;
  --color-base-scuro: #000000;
  --color-base-chiaro: #ffffff;
  --color-note: #4a4a4a;
}

/* Base */

* {
  box-sizing: border-box;
}

body {
  color: var(--color-brand-scuro);
  font-family: 'play', sans-serif;
  font-size: 18px;
  font-weight: 400;
  line-height: 1.5;
  margin: 0;
}
h1,
h2,
h3,
h4,
h5,
h6 p {
  margin-top: 0;
}

.section {
  padding: 48px 0;
}
address {
  font-style: normal;
}

ul {
  list-style-type: none;
}
.container {
  max-width: 1240px;
  margin: 0 auto;
  padding: 0 24px;
}

/* Button */
.button {
  color: var(--color-base-chiaro);
  font-weight: 600;
  font-size: 18px;

  padding: 16px 32px;

  background: var(--color-brand-chiaro);
  border: none;
  border-radius: 999px;
  font-family: inherit;
  cursor: pointer;
}

.button:hover {
  color: var(--color-brand-scuro);
  background: transparent;
  border: 2px solid var(--color-brand-scuro);
}

h1 {
  font-family: 'Play', sans-serif;
  font-weight: 700;
  font-size: 140px;
  line-height: 114px;
  color: var(--color-brand-chiaro);
}
ul {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

/* Nav list */
.nav-list {
  color: var(--color-brand-scuro);
  text-decoration: none;
}

.nav-list:hover {
  color: var(--color-brand-chiaro);
}

/* Header */
.header-container {
  display: flex;
  align-items: center;
  align-items: center;
  gap: 40px;
}

.header-nav {
  display: flex;
  flex-grow: 1;
  gap: 40px;
}

.header-menu {
  display: flex;
  gap: 56px;
  flex-grow: 1;
  justify-content: center;
}

/* Hero section */

.hero {
  padding: 16.52px 0px 194.48px 0px;
}
.hero-title {
  margin-bottom: 0;
  color: var(--color-brand-chiaro);
  text-align: left;
  font-size: 140px;
  font-weight: 700;
}
.hero-subtitle {
  color: var(--color-brand-scuro);
}
.hero-note {
  color: var(--color-note);
}

/* About */
.about-title {
  margin-bottom: 40px;
}

.about-content {
  margin-bottom: 40px;
  line-height: 1.7;
  font-family: 'Roboto', sans-serif;
  color: var(--color-brand-scuro);
  font-weight: 700;
}
.about-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  gap: 40px;
}
.about-info {
  max-width: 710px;
}
.about-images {
  display: flex;
  flex-direction: column;
  gap: 32px;
  flex-shrink: 0;
}

.about-content .accent {
  color: var(--color-brand-chiaro);
}

.about-text {
  font-family: 'Roboto', sans-serif !important;
  font-weight: 400;
}
.about-text p {
  margin: 0;
}
.about-text p + p {
  margin-top: 40px;
}
.accent-abouy-text {
  font-weight: 600;
}

/* Why */

.why-list {
  display: flex;
  gap: 56px;
}

.format-cards {
  padding: 32px;
  border: 1px solid var(--color-base-chiaro);
  border-radius: 16px;
}

.interval-why {
  margin-bottom: 48px;
}
.why {
  padding: 128px 0 48px 0; /* вертикальные отступы секции */
  text-align: center; /* чтобы заголовок и карточки были по центру */
}
#why-title {
  font-family: 'Play', sans-serif;
  font-weight: 700;
  font-size: 64px;
  line-height: 1;
  letter-spacing: 0;
  margin: 1.3; /* отступ вниз до карточек */
  color: var(--color-brand-scuro);
}
.accent {
  color: var(--color-brand-chiaro);
}
.why-list h3 {
  margin: 0 0 12px;
  font-family: 'Roboto', sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 1.3;
  color: var(--color-brand-scuro);
}

.why-list p {
  margin: 0;
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.3;
  color: var(--color-base-scuro);
}

/* Procedures */
.interval-procedures {
  margin-bottom: 48px;
}

/* Contacts */
.interval-contacts {
  margin-bottom: 48px;
}

/* Footer */
.address-link {
  color: var(--color-base-chiaro);
  text-decoration: none;
}
.footer {
  background-color: var(--color-brand-scuro);
  padding: 60px 0;
}
.footer a:hover {
  color: var(--color-brand-chiaro);
  transform: scale(1.1);
}
.nav-list-footer {
  color: var(--color-base-chiaro);
  text-decoration: none;
}
